body {
  overflow-x: hidden;
}
.banner {
  height: 100vh;
  width: 100vw;
  background-color: rgb(22, 22, 22);
}
.container {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mist {
  height: 50px;
  margin: 0 10px;
}
.aws {
  height: 100px;
  border-radius: 10px;
  margin: 0 10px;
  animation: bounce 1000ms alternate infinite ease-in-out;
}
@keyframes bounce {
  from {
    transform: translate(0);
  } to {
    transform: translateY(-10px);
  }
}
.api-res {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  color: #FF9900;
  font-weight: bold;
}
@media screen and (max-width: 812px) {
  .container{
    flex-direction: column;
  }
  .mist, .aws {
    margin: 20px;
  }
}
